<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<title>コスパ計算</title>
	<style>
		body {
			padding:0;
			margin:0;
			padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
		}
		table {
			border-collapse:collapse;
		}

		/* .table ここから */
		.table thead tr {
			border-bottom: 1px solid #ccc;
		}
		.table th {
			font-size: small;
		}
		.table td input:not(.memo) {
			width: calc(100vw / 3.5);
		}
		.table td input.memo {
			width: calc(100% - 10px);
		}
		.table [data-item_id^='button-'] td {
			text-align: right;
			border-bottom: 1px solid #ccc;
		}
		/* .table ここまで */

		/* .calculator ここから */
		.calculator table {
			border: 1px solid #ccc;
			margin: auto;
			font-size: 1.5em;
		}
		.calculator .result {
			border: 1px solid #ccc;
			text-align: right;
		}
		.calculator td {
			text-align: center;
		}
		.calculator td input[type="button"] {
			font-size: 1em;
		}
		/* .calculator ここまで */
	</style>
</head>
<body>
	<div id="vue">
		<h4>コスパ計算</h4>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th>金額</th>
						<th>個数</th>
						<th>個/円</th><!-- 安い方が得 -->
					</tr>
				</thead>
				<tbody>
					<!-- データ毎に2行出力する -->
					<template v-for="(item, itemIndex) in items">

						<!-- エディタ行 -->
						<tr v-bind:key="`item-1-${itemIndex}`" v-bind:data-item_id="`data-${itemIndex + 1}`">
							<td>
								<input type="tel" v-model="item.amount" placeholder="金額">
							</td>
							<td>
								<input type="tel" v-model="item.count" placeholder="個数">
							</td>
							<td>
								<!-- 小数点第3位で切捨 -->
								<input type="tel" v-bind:value="item.amount && item.count ? Math.floor((item.amount / item.count) * 1000) / 1000 : null" readonly style="border: none; text-align: center;">
							</td>
						</tr>

						<!-- メモ・ボタン行 -->
						<tr v-bind:key="`item-2-${itemIndex}`" v-bind:data-item_id="`button-${itemIndex + 1}`">
							<td v-bind:colspan="items.length > 1 ? 2 : 3">
								<input type="text" v-model="item.memo" placeholder="メモ" class="memo">
							</td>
							<td v-if="items.length > 1">
								<button
									v-on:click="upRow(itemIndex)"
									v-bind:style="`opacity: ${itemIndex !== 0 ? 1 : 0};`"
									v-bind:disabled="itemIndex === 0"> ↑ </button>
								<button
									v-on:click="downRow(itemIndex)"
									v-bind:style="`opacity: ${itemIndex !== items.length - 1 ? 1 : 0};`"
									v-bind:disabled="itemIndex === items.length - 1"> ↓ </button>
								<button v-on:click="deleteRow(itemIndex)">－</button>
							</td>
						</tr>

						<!-- 空白用 -->
						<tr>
							<td></td>
						</tr>

					</template>
				</tbody>
			</table>
		</div>
		<div class="buttons">
			<table>
				<tr>
					<td>
						<button v-on:click="addRow">＋</button>
					</td>
					<td>
						<button v-on:click="save">保存</button>
					</td>
					<td>
						<button v-on:click="clearCash">キャッシュクリア</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="message">
			<p>最終保存日時：{{ saveDate }}</p>
		</div>

		<br>

		<!-- 電卓 -->
		<div class="calculator">
			<table>
				<tbody>
					<tr>
						<td colspan="4" class="result">{{ calc }}</td>
					</tr>
					<tr>
						<td><input type="button" value="C" v-on:click="calc = '0'"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><input type="button" value="/" v-on:click="calcInput"></td>
					</tr>
					<tr>
						<td><input type="button" value="7" v-on:click="calcInput"></td>
						<td><input type="button" value="8" v-on:click="calcInput"></td>
						<td><input type="button" value="9" v-on:click="calcInput"></td>
						<td><input type="button" value="*" v-on:click="calcInput"></td>
					</tr>
					<tr>
						<td><input type="button" value="4" v-on:click="calcInput"></td>
						<td><input type="button" value="5" v-on:click="calcInput"></td>
						<td><input type="button" value="6" v-on:click="calcInput"></td>
						<td><input type="button" value="-" v-on:click="calcInput"></td>
					</tr>
					<tr>
						<td><input type="button" value="1" v-on:click="calcInput"></td>
						<td><input type="button" value="2" v-on:click="calcInput"></td>
						<td><input type="button" value="3" v-on:click="calcInput"></td>
						<td><input type="button" value="+" v-on:click="calcInput"></td>
					</tr>
					<tr>
						<td><input type="button" value="0" v-on:click="calcInput"></td>
						<td>&nbsp;</td>
						<td><input type="button" value="." v-on:click="calcInput"></td>
						<td><input type="button" value="=" v-on:click="calcExec"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<br><br>
		<p style="font-size: small;">Last Update: {{ lastModified }}</p>
	</div>
	<script>
	let vue = new Vue({
		el: '#vue',
		data: {
			items:[
				{
					amount: null,
					count: null,
					memo: null,
				},
			],
			saveDate: null,
			calc: '0', // 電卓用文字列
			lastModified: (new Date(document.lastModified)).toLocaleString(), // 最終更新日時
		},
		mounted() {
			// localStorageにあれば採用、無ければ空1行表示
			if (localStorage.items) {
				this.items = JSON.parse(localStorage.items)
				console.log('localStorageから適用: items')
			}
			if (localStorage.saveDate) {
				this.saveDate = localStorage.saveDate.split('"').join('')
				console.log('localStorageから適用: saveDate')
			}
		},
		methods: {
			/** 行追加 */
			addRow () {
				this.items.push({
					amount: null,
					count: null,
				})
			},

			/** 上の行と入替 */
			upRow(itemIndex) {
				const temp = this.items[itemIndex];
				this.items.splice(itemIndex, 1)
				this.items.splice(itemIndex - 1, 0, temp)
			},
			
			/** 下の行と入替 */
			downRow(itemIndex) {
				const temp = this.items[itemIndex];
				this.items.splice(itemIndex, 1)
				this.items.splice(itemIndex + 1, 0, temp)
			},
			
			/** 行削除 */
			deleteRow (itemIndex) {
				const result = confirm('本当に削除する？')
				if (result) {
					this.items.splice(itemIndex, 1)
				}
			},

			/** 保存 */
			save () {
				this.saveDate = (new Date()).toLocaleString()
				localStorage.items = JSON.stringify(this.items)
				localStorage.saveDate = JSON.stringify(this.saveDate)
			},

			/** キャッシュを無視して再読込 */
			clearCash () {
				// 既にQueryが付いていた場合は削除
				let url = location.href.replace(location.search, '')

				// キャッシュ無視パラメーターを作成して画面遷移
				url += `?${new URLSearchParams({
					_: (new Date()).getTime()
				})}`

				location.href = url
			},

			/** 電卓入力 */
			calcInput(event) {
				// 初期値0 かつ 入力値が「.」でないなら上書き、それ以外なら追加していく
				this.calc = this.calc === '0' && event.target.value !== '.'
									? event.target.value
									: this.calc + event.target.value
			},

			/** 電卓計算結果反映 */
			calcExec () {
				// 文字列として保持していた計算を実行
				// https://techacademy.jp/magazine/21139
				this.calc = new Function("return " + this.calc)()

				// 小数点4桁以下は切り捨て(切り捨て結果が違う場合のみ実行)
				if (this.calc !== Math.floor(this.calc * 10000) / 10000) {
					this.calc = (Math.floor(this.calc * 10000) / 10000).toString() + '...'
				}
			}
		},
	})
	</script>
</body>
</html>