<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<title>コスパ計算</title>
	<style>
		body {
			padding:0;
			margin:0;
		}
		table {
			border-collapse:collapse;
		}
		.ml-8 {
			margin-left: 8px;
		}

		/* .table ここから */
		.table thead tr {
			border-bottom: 1px solid #ccc;
		}
		.table th {
			font-size: small;
		}
		.table td input:not(.memo) {
			width: calc(100vw / 3.5);
		}
		.table td input.memo {
			width: calc(100% - 10px);
		}
		.table [data-item_id^='button-'] td {
			text-align: right;
			border-bottom: 1px solid #ccc;
		}
		/* .table ここまで */

		/* .calculator ここから */
		.calculator table {
			border: 1px solid #ccc;
			margin: auto;
			font-size: 1.5em;
		}
		.calculator .result {
			border: 1px solid #ccc;
			text-align: right;
		}
		.calculator td {
			text-align: center;
		}
		.calculator td input[type="button"] {
			font-size: 1em;
			touch-action: manipulation;
		}
		/* .calculator ここまで */
	</style>
</head>
<body>
	<div id="vue">
		<h4 class="ml-8">コスパ計算　<span style="font-size: x-small;font-weight: normal;vertical-align: middle;">コスパ値が少ない方がお得！</span></h4>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th>金額</th>
						<th>個数</th>
						<th>個/円</th><!-- 安い方が得 -->
					</tr>
				</thead>
				<tbody>
					<!-- データ毎に2行出力する -->
					<template v-for="(item, itemIndex) in items">

						<!-- エディタ行 -->
						<tr v-bind:key="`item-1-${itemIndex}`" v-bind:data-item_id="`data-${itemIndex + 1}`">
							<td>
								<input type="tel" v-model="item.amount" placeholder="金額">
							</td>
							<td>
								<input type="tel" v-model="item.count" placeholder="個数">
							</td>
							<td style="position: relative;">
								{{ calcCospa(item.amount, item.count) }}

								<!-- 他と比較：全部で１行しか無いときは表示しない -->
								<button
									v-on:click="calcCompare(itemIndex)"
									style="position: absolute; right: 0;"
									v-bind:style="`opacity: ${items.length > 1 ? 1 : 0};`"
									v-bind:disabled="items.length < 2"
								>?</button>
							</td>
						</tr>

						<!-- メモ・ボタン行 -->
						<tr v-bind:key="`item-2-${itemIndex}`" v-bind:data-item_id="`button-${itemIndex + 1}`">
							<td v-bind:colspan="2">
								<input type="text" v-model="item.memo" placeholder="メモ" class="memo">
							</td>
							<td>
								<button
									v-on:click="upRow(itemIndex)"
									v-bind:style="`opacity: ${itemIndex > 0 ? 1 : 0};`"
									v-bind:disabled="itemIndex === 0"> ↑ </button>
								<button
									v-on:click="downRow(itemIndex)"
									v-bind:style="`opacity: ${itemIndex !== items.length - 1 ? 1 : 0};`"
									v-bind:disabled="itemIndex === items.length - 1"> ↓ </button> 
								<button v-on:click="deleteRow(itemIndex)"
									v-bind:style="`opacity: ${items.length > 1 ? 1 : 0}`">－</button>
							</td>
						</tr>

						<!-- 空白用 -->
						<tr>
							<td></td>
						</tr>

					</template>
				</tbody>
			</table>
		</div>
		<div class="buttons">
			<table>
				<tr>
					<td>
						<button v-on:click="addRow">＋</button>
					</td>
					<td>
						<button v-on:click="save">保存</button>
					</td>
					<td>
						<button v-on:click="clearCash">キャッシュクリア</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="message ml-8">
			<p>最終保存日時：{{ saveDate }}</p>
		</div>

		<div class="ml-8" v-if="compareResult.isShow">
			基準：{{ compareResult.now + 1 }}行 / 指定：{{ compareResult.target + 1 }}行
			<br>
			基準：{{ items[compareResult.now].amount }}円 / {{ items[compareResult.now].count }}個 / {{ calcCospa(items[compareResult.now].amount, items[compareResult.now].count) }}
			<br>
			指定：{{ items[compareResult.target].amount }}円 / {{ items[compareResult.target].count }}個
			<br>↓
			<template v-if="compareResult.mode === 1">
				金額合わせ
				<br>
				{{ items[compareResult.now].amount }}円 なら
				{{ compareResult.result }} 個
			</template>
			<template v-if="compareResult.mode === 2">
				個数合わせ
				<br>
				{{ items[compareResult.now].count }}個 なら {{ compareResult.result }} 円
			</template>
		</div>

		<br>

		<!-- 電卓 -->
		<div class="calculator">
			<table>
				<tbody>
					<tr>
						<td colspan="4" class="result">{{ calc }}</td>
					</tr>
					<tr>
						<td><input type="button" value="C" v-on:click="calc = '0'"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><input type="button" value="/" v-on:click="calcInput"></td>
					</tr>
					<tr>
						<td><input type="button" value="7" v-on:click="calcInput"></td>
						<td><input type="button" value="8" v-on:click="calcInput"></td>
						<td><input type="button" value="9" v-on:click="calcInput"></td>
						<td><input type="button" value="*" v-on:click="calcInput"></td>
					</tr>
					<tr>
						<td><input type="button" value="4" v-on:click="calcInput"></td>
						<td><input type="button" value="5" v-on:click="calcInput"></td>
						<td><input type="button" value="6" v-on:click="calcInput"></td>
						<td><input type="button" value="-" v-on:click="calcInput"></td>
					</tr>
					<tr>
						<td><input type="button" value="1" v-on:click="calcInput"></td>
						<td><input type="button" value="2" v-on:click="calcInput"></td>
						<td><input type="button" value="3" v-on:click="calcInput"></td>
						<td><input type="button" value="+" v-on:click="calcInput"></td>
					</tr>
					<tr>
						<td><input type="button" value="0" v-on:click="calcInput"></td>
						<td>&nbsp;</td>
						<td><input type="button" value="." v-on:click="calcInput"></td>
						<td><input type="button" value="=" v-on:click="calcExec"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<br><br>

		<!-- インポート -->
		<div style="padding: 5px;">
			<textarea style="width: calc(100% - 10px);" rows="5" v-model="importValue"></textarea>
			<br>
			<button v-on:click="importJSON()">インポート</button>
		</div>

		<br><br>

		<!-- 最終更新日時 -->
		<p style="font-size: small;" class="ml-8">Last Update: {{ lastModified }}</p>
		<br>

		<!-- コピペエリア（コピー中のみ一時的に非表示） -->
		<div v-if="exportValue" id="copyArea">{{ exportValue }}</div>
	</div>
	<script>
	let vue = new Vue({
		el: '#vue',
		data: {
			items:[
				{
					amount: null,
					count: null,
					memo: null,
				},
			],
			saveDate: null,
			calc: '0', // 電卓用文字列
			lastModified: (new Date(document.lastModified)).toLocaleString(), // 最終更新日時
			exportValue: '', // エクスポート用JSON
			importValue: '', // インポート用JSON

			// 金額合わせ or 値段合わせ
			compareResult: {
				isShow: false, // 表示フラグ
				mode: null, // 1:金額合わせ / 2:値段合わせ
				now:null, // 現在の行index
				target: null, // 比較対象の行index
				result: null, // 計算結果
			},
		},
		mounted() {
			// localStorageにあれば採用、無ければ空1行表示
			if (localStorage.items) {
				this.items = JSON.parse(localStorage.items)
				console.log('localStorageから適用: items')
			}
			if (localStorage.saveDate) {
				this.saveDate = localStorage.saveDate.split('"').join('')
				console.log('localStorageから適用: saveDate')
			}
		},
		methods: {
			// コスパ計算(小数点第3位で切捨)
			calcCospa(amount, count){
				return amount && count
					? Math.floor((amount / count) * 1000) / 1000
					: '　' // vue上で計算していた頃は「'&nbsp;'」だったが、メソッドでやると文字列として表示されてしまう
			},

			/** 行追加 */
			addRow () {
				this.items.push({
					amount: null,
					count: null,
				})
			},

			/** 上の行と入替 */
			upRow(itemIndex) {
				// 1行以下なら何もしない
				if (this.items.length < 2) return

				const temp = this.items[itemIndex];
				this.items.splice(itemIndex, 1)
				this.items.splice(itemIndex - 1, 0, temp)
			},
			
			/** 下の行と入替 */
			downRow(itemIndex) {
				// 1行以下なら何もしない
				if (this.items.length < 2) return
				
				const temp = this.items[itemIndex];
				this.items.splice(itemIndex, 1)
				this.items.splice(itemIndex + 1, 0, temp)
			},
			
			/** 行削除 */
			deleteRow (itemIndex) {
				// 1行以下なら何もしない
				if (this.items.length < 2) return
				
				const result = confirm('本当に削除する？')
				if (result) {
					this.items.splice(itemIndex, 1)
				}
			},

			/** 基準値比較 */
			calcCompare (itemIndex) {
				// 一旦非表示
				this.compareResult.isShow = false

				// 現在の行を取得
				this.compareResult.now = itemIndex
				const nowRow = this.items[this.compareResult.now]

				let mode = prompt('1: 金額合わせ / 2:個数合わせ')

				if (!mode) return // 入力が無ければ終了

				mode = this.ConvertFullToHalf(mode) // 全角→半角変換
				mode = Number(mode) // 数値変換
				if (isNaN(mode)) {
					alert('数字以外入力しちゃダメ！')
					return
				} else if (mode !== 1 && mode !== 2) {
					alert('1か2しか入力しちゃダメ！')
					return
				}
				this.compareResult.mode = mode // チェックOK

				let target = prompt('何行目と？')

				if (!target) return // 入力が無ければ終了
				
				target = this.ConvertFullToHalf(target) // 全角→半角変換
				target = Number(target) // 数値変換
				if (isNaN(target)) {
					alert('数字以外入力しちゃダメ！')
					return
				} else if (target < 1 || this.items.length < target) {
					alert('存在しない行番号を入力しちゃダメ！')
					return
				} else if (target === this.compareResult.now + 1) {
					alert('自分自身は比較できないよ！')
					return
				}
				this.compareResult.target = target - 1 // チェックOK

				// 指定の行番号データを取得
				const targetRow = this.items[this.compareResult.target]
				if (!targetRow.cost || !targetRow.amount) {
					alert('対象行に入力が無いよ！')
					return
				}
				const targetCost = Math.floor((targetRow.amount / targetRow.count) * 1000) / 1000
				let calc = -1;
				if (this.compareResult.mode === 1) {
					// 1:金額合わせ→基準行の値段 ÷ 指定行のコスパ
					calc = nowRow.amount / targetCost
				} else if (this.compareResult.mode === 2) {
					// 2:個数合わせ→基準行の個数 × 指定行のコスパ
					calc = nowRow.count * targetCost
				}

				// 計算結果を反映(小数点第3位で切捨)
				this.compareResult.result = Math.floor(calc * 1000) / 1000

				// 表示
				this.compareResult.isShow = true
			},

			/** 【全角数字変換】
			*
			* {@link https://qiita.com/yamikoo@github/items/5dbcc77b267a549bdbae JavaScriptで英数を全角/半角に変換する方法 - Qiita}
			*
			* @module mixins/common/ConvertFullToHalf
			* @param {string} str 全角数字
			* @returns {number} 数値型(変換不可能だった場合はログ出力&null返却)
			*/
			ConvertFullToHalf(str) {
				str = str.replace(/[Ａ-Ｚａ-ｚ０-９]/g, function (s) {
					return String.fromCharCode(s.charCodeAt(0) - 65248)
				})
				return parseInt(str, 10) ? Number(str) : null
			},

			/** 保存 */
			save () {
				this.saveDate = (new Date()).toLocaleString()
				localStorage.items = JSON.stringify(this.items)
				localStorage.saveDate = JSON.stringify(this.saveDate)

				// 保存後にコピー
				this.copyJSON()
			},

			/** JSONコピー */
			copyJSON () {
				// 既に画面内に選択があった場合を考慮して解除
				window.getSelection().removeAllRanges();

				// コピー用文字列
				this.exportValue = localStorage.items;

				// vueが画面上に反映するまで少し待つ
				setTimeout(() => {
					// 選択
					var range = document.createRange();
					range.selectNode(document.querySelector("#copyArea"));
					window.getSelection().addRange(range);

					// コピー
					var result = document.execCommand("copy");

					// 選択範囲を解除
					window.getSelection().removeAllRanges();

					// element.parentNode.removeChild(element);

					console.log("copy: " + result); console.log(this.exportValue);

					// コピー用文字列をクリア
					this.exportValue = ''
					
				}, 500);

			},

			/** JSONインポート */
			importJSON () {
				// 未入力なら何もしない
				if (!this.importValue) return;

				const jsonObj = JSON.parse(this.importValue)
				this.items = jsonObj
			},

			/** キャッシュを無視して再読込 */
			clearCash () {
				// 既にQueryが付いていた場合は削除
				let url = location.href.replace(location.search, '')

				// キャッシュ無視パラメーターを作成して画面遷移
				url += `?${new URLSearchParams({
					_: (new Date()).getTime()
				})}`

				location.href = url
			},

			/** 電卓入力 */
			calcInput(event) {
				// 初期値0 かつ 入力値が「.」でないなら上書き、それ以外なら追加していく
				this.calc = this.calc === '0' && event.target.value !== '.'
									? event.target.value
									: this.calc + event.target.value
			},

			/** 電卓計算結果反映 */
			calcExec () {
				// 文字列として保持していた計算を実行
				// https://techacademy.jp/magazine/21139
				this.calc = new Function("return " + this.calc)()

				// 小数点4桁以下は切り捨て(切り捨て結果が違う場合のみ実行)
				if (this.calc !== Math.floor(this.calc * 10000) / 10000) {
					this.calc = (Math.floor(this.calc * 10000) / 10000).toString() + '...'
				}
			}
		},
	})
	</script>
</body>
</html>