<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>crp output</title>

	<style>
		[v-cloak] {
			display: none !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>

		<p>start: </p>
		<p><a :href="startUrl" target="_blank">{{startUrl}}</a></p>

		<br>
		<p>paste response:</p>
		<p><textarea v-model="input.page1" style="width: 90vw;" rows="5" @change="formatPage1"></textarea></p>
		<div v-if="input.page1json && input.page1json.pagination && input.page1json.pagination.current_page" style="padding-left: 1em;">
			<p>current_page: {{input.page1json.pagination.current_page}}</p>
			<p>last_page: {{input.page1json.pagination.last_page}}</p>
			<p>total: {{input.page1json.pagination.total}}</p>
			<details>
				<summary>TL</summary>
				<!-- json table -->
				<table v-if="input.page1json.data" class="json-table">
					<tr>
						<td>#</td>
						<td v-for="(colh,colhi) in Object.keys(input.page1json.data[0])" :key="'colh-'+colhi">{{colh}}</td>
					</tr>
					<tr v-for="(row,rowi) in input.page1json.data" :key="'row-'+rowi">
						<td>{{rowi}}</td>
						<td v-for="(col,coli) in Object.keys(row)" :key="'col-'+coli" :title="`${rowi}: ${col}`">{{row[col]}}</td>
					</tr>
				</table>
			</details>
		</div>

		<div v-if="pageUrls && pageUrls.length > 0">
			<br>
			<details>
				<summary>pageUrls: [{{pageUrls.length}}]</summary>
				<p v-for="(p,pi) in pageUrls" :key="'p+'+pi">
					[{{pi}}]
					<a :href="p" target="_blank">{{p}}</a>
				</p>
			</details>
			<button @click="openUrlsList">openUrls</button>
		</div>

		<div v-if="detailUrls && detailUrls.length > 0">
			<br>
			<details>
				<summary>detailUrls: [{{detailUrls.length}}]</summary>
				<p v-for="(d,di) in detailUrls" :key="'d+'+di">
					[{{di}}]
					<a :href="d" target="_blank">{{d}}</a>
				</p>
			</details>
			<button @click="openUrlsDetail">openUrls</button>
		</div>

		<div>
			<br>
			lastModified: {{lastModified}}
		</div>

		<!-- debug swap -->
		<div style="text-align: right;">
			<br><br><br>
			<button id="debug" @click="changeDebugMode">{{isDebug ? 'ON→OFF' : 'OFF→ON'}} ({{debugCount}})</button>
		</div>
		<!-- debug area -->
		<div v-show="isDebug" style="word-break: break-all;">
			isDebug
			<br>
			<a :href="URL.href">{{URL.href}}</a>
			<br>
			<br>
		</div>
		<!-- debug area end -->

	</div>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.x"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script>
	const myvue = new Vue({
		el: '#app',
		components: {
		},
		computed: {
			TODO2 () {
				let res = ''
				try {} catch (e) { console.error(e) }
				return res
			}, // TODO2
		},
		data: {
			debugCount:0,
			isDebug: false,
			loading:true,
			URL:{},
			input:{
				page1:'',
				page1json:{},
			},
			lastModified:'',

			// 古い順から1ページ換算->書込が増えるごとにページを増やす
			baseUrl: 'https://api.crepu.net/api/v1.0/dashboard?sort=1&filter_post_easy=true&filter_post_text=true&filter_post_image=true&filter_post_sample=true&filter_post_quote_repost=true&filter_all=true&filter_follower=true&filter_private=false&filter_age_limit_types[]=0&filter_age_limit_types[]=1&filter_one_cushion_flg[]=0&filter_one_cushion_flg[]=1&filter_fan_fiction[]=0&filter_fan_fiction[]=1&filter_ai_flg[]=0&filter_ai_flg[]=1&page=',
			startUrl: '',
			pageUrls:[],

			baseUrlDetail: 'https://api.crepu.net/api/v1.0/post/',
			detailUrls:[],

		}, // data
		mounted() {
			this.loading = false
			const url = new URL(location.href)
			this.URL = {
				href: location.href,
				origin: url.origin,
				query: Object.fromEntries(url.searchParams),
				BASE: url.origin + '/',
				API : url.origin + '/TODO_API/API/',
			}
			this.startUrl = this.baseUrl + 1
			this.lastModified = document.lastModified
			console.log(`${(new Date()).toLocaleString()} ${(new Date()).getTime()} [mounted] end`)
		}, // mounted
		methods: {
			/** changeDebugMode */
			changeDebugMode () {
				this.debugCount++
				console.log(`debugCount = ${this.debugCount}`)
				if (this.debugCount % 10 === 0) {
				this.isDebug = !this.isDebug
				}
			}, // changeDebugMode

			/** jQuery ajax custom */
			zjax (option, doneFunc, failFunc, alwaysFunc) {
				var base = {
					type: 'get',
					async: true,
					contentType: 'application/json',
					cache: false,
				};
				var param = $.extend(base, option);

				if (param.data && (typeof param.data).toLowerCase() != 'string' && param.type.toLowerCase() !== 'get') {
					param.data = JSON.stringify(param.data);
				}

				console.log(`${(new Date()).toLocaleString()} ${(new Date()).getTime()} [zjax] start\n${param.url}`)
				let sec = (new Date()).getTime()
				$.ajax(param)
					.done(d => {
						console.log(`${(new Date()).toLocaleString()} ${(new Date()).getTime()} [zjax] done\n${param.url}\nsec = ${(new Date().getTime()) - sec}`)
						console.log(d)
						if (this.isFunction(doneFunc)) doneFunc(d);
					}).fail(d => {
						console.error(`${(new Date()).toLocaleString()} ${(new Date()).getTime()} [zjax] fail\n${param.url}\nsec = ${(new Date().getTime()) - sec}`)
						console.error(d)
						if (this.isFunction(failFunc)) failFunc(d);
					}).always(d => {
						if (this.isFunction(alwaysFunc)) alwaysFunc(d);
					});
			},
			isFunction (f) {
				return (typeof f).toLowerCase() == 'function';
			},

			formatPage1(){
				try {
					this.input.page1json = JSON.parse(this.input.page1)
					this.createUrl()
				} catch (e) { console.error(e) }
			},

			createUrl(){
				this.pageUrls = []
				for (let i = this.input.page1json.pagination.current_page; i <= this.input.page1json.pagination.last_page; i++) {
					this.pageUrls.push(this.baseUrl + i)
				}

				this.detailUrls = []
				for (let i = 0; i < this.input.page1json.data.length; i++) {
					this.detailUrls.push(this.baseUrlDetail + this.input.page1json.data[i].post_id)
				}
			},

			openUrlsList(){
				for (let i = 0; i < this.pageUrls.length; i++) {
					window.open(this.pageUrls[i], i+1)
				}
			},

			openUrlsDetail(){
				for (let i = 0; i < this.detailUrls.length; i++) {
					window.open(this.detailUrls[i], this.page1json.data[i].post_id)
				}
			},

		}, // methods
	})
	</script>

	<style>
		.aic {align-items: center;}
		.asc {align-self: center;}
	
		table.json-table {
			border-spacing: 0;
		}
	
		table.json-table tr:not(:last-of-type) td {
			border-bottom: 1px solid #ccc;
		}
	
		table.json-table td:not(:first-of-type) {
			border-left: 1px solid #ccc;
		}

		button#debug {
			color: #fff;
			background: #fff;
			border: none;
		}
		button#debug:hover {
			background: #ccc;
		}
		button#debug:active {
			background: #ccc;
		}

		p,a {
			margin:0;
			word-break: break-all;
		}
	</style>

</body>
</html>