<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>汎用時刻計算 vue3</title>

	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
	<style>
		[v-cloak] {
			display: none !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<v-app>
			<!-- メイン -->
			<v-main>
				<v-container max-width="800">

					<v-row dense>
						<v-col class="pb-3">{{nowDateTime}}</v-col>
					</v-row>

					<v-row dense>
						<v-col :cols="isXs?12:6">
							<v-select v-model="input.timePattern" :items="selectTimePattern" density="compact" variant="outlined" hide-details @update:model-value="changeTimePattern">
								<template v-slot:prepend>回復種別</template>
							</v-select>
						</v-col>
						<v-col :cols="isXs?12:6">
							<v-select v-model="input.timeMode" :items="selectTimeMode" density="compact" variant="outlined" hide-details @update:model-value="changeTimeMode">
								<template v-if="isXs" v-slot:prepend>　　　　</template>
							</v-select>
						</v-col>
					</v-row>
					
					<v-row dense class="aic">
						<v-col cols="auto" class="pr-3">回復基準</v-col>
						<v-col cols="auto">
							<v-text-field v-model.number="input.numBaseTime" inputmode="tel" width="4rem" density="compact" variant="outlined" hide-details max="99">
							</v-text-field>
						</v-col>
						<v-col>分／1回復</v-col>
					</v-row>

					<v-row dense>
						<v-col>
							<v-text-field v-model.number="input.numTargetValue" @keypress="keypressCalc($event,1)" type="tel" density="compact" variant="outlined" hide-details>
								<template v-slot:prepend>回復量　</template>
								<template v-slot:append>
									<v-btn size="small" @click="clickCalc($event,1)">変換</v-btn>
								</template>
							</v-text-field>
						</v-col>
						<v-col v-if="!isXs"></v-col>
					</v-row>

					<v-row dense>
						<v-col>
							<v-text-field v-model.number="input.numRequiredTimeHour" inputmode="tel" label="時間" @keypress="keypressCalc($event,2)" density="compact" variant="outlined" hide-details max="99">
								<template v-slot:prepend>所要時間</template>
							</v-text-field>
						</v-col>
						<v-col>
							<v-text-field v-model.number="input.numRequiredTimeMin" inputmode="tel" label="分" @keypress="keypressCalc($event,2)" density="compact" variant="outlined" hide-details max="99">
								<template v-slot:append>
									<v-btn size="small" @click="clickCalc($event,2)">変換</v-btn>
								</template>
							</v-text-field>
						</v-col>
						<v-col v-if="!isXs"></v-col>
					</v-row>

					<v-row dense>
						<v-col>
							<v-text-field v-model.number="input.numTargetTimeHour" inputmode="tel" label="時間" @keypress="keypressCalc($event,3)" density="compact" variant="outlined" hide-details max="99">
								<template v-slot:prepend>到達時刻</template>
							</v-text-field>
						</v-col>
						<v-col>
							<v-text-field v-model.number="input.numTargetTimeMin" inputmode="tel" label="分" @keypress="keypressCalc($event,3)" density="compact" variant="outlined" hide-details max="99">
								<template v-slot:append>
									<v-btn size="small" @click="clickCalc($event,3)">変換</v-btn>
								</template>
							</v-text-field>
						</v-col>
						<v-col v-if="!isXs"></v-col>
					</v-row>
					
					<v-row dense class="aic">
						<v-col cols="auto" class="pr-3">残り時間</v-col>
						<v-col cols="auto">
							<v-text-field v-model.number="input.hoyoTimeDay" inputmode="tel" width="3.7rem" label="日" @keypress="keypressCalc($event,4)" density="compact" variant="outlined" hide-details max="99">
							</v-text-field>
						</v-col>
						<v-col cols="auto">
							<v-text-field v-model.number="input.hoyoTimeHour" inputmode="tel" width="3.7rem" label="時" @keypress="keypressCalc($event,4)" density="compact" variant="outlined" hide-details max="99">
							</v-text-field>
						</v-col>
						<v-col cols="auto">
							<v-text-field v-model.number="input.hoyoTimeMin" inputmode="tel" width="3.7rem" label="分" @keypress="keypressCalc($event,4)" density="compact" variant="outlined" hide-details max="99">
							</v-text-field>
						</v-col>
						<v-col cols="auto" class="pl-3">
							<v-btn size="small" @click="clickCalc($event,4)">変換</v-btn>
						</v-col>
						<v-col v-if="!isXs"></v-col>
					</v-row>
					
					<v-row dense class="aic">
						<v-col cols="auto">今からMAX</v-col>
						<v-col cols="auto">
							<v-text-field v-model.number="input.nowMax" inputmode="tel" @keypress="keypressCalc($event,5)" width="4rem" density="compact" variant="outlined" hide-details max="99">
							</v-text-field>
						</v-col>
						<v-col cols="auto">
							/ {{-1 < maxIndex ? timePattern[input.timePattern].mode[maxIndex].value : -1}}
						</v-col>
						<v-col cols="auto" class="pl-3">
							<v-btn size="small" @click="clickCalc($event,5)">変換</v-btn>
						</v-col>
						<v-col v-if="!isXs"></v-col>
					</v-row>

					<v-row v-if="goalTime">
						<v-col>result: {{FormatDate(goalTime,'/',true,true,true)}}</v-col>
					</v-row>

					<div style="text-align: right;">
						<br><br><br>
						<button class="text-white" @click="changeDebugMode">{{debugCount}}</button>
					</div>
					<div v-show="isDebug" style="word-break: break-all;">
						<div>isDebug</div>
						<div>lastModified: {{lm}}</div>
						<div><a :href="URL.href">{{URL.href}}</a></div>
						<br>
						<div>
							$vuetify.display.name: {{$vuetify.display.name}}
							<br>$vuetify.display.width: {{$vuetify.display.width}}
							<br><br>
						</div>
					</div>

				</v-container>
			</v-main>

			<v-overlay v-model="loading" class="align-center justify-center">
				<v-progress-circular indeterminate :size="200" @click="loading = !loading" color="white" />
			</v-overlay>

		</v-app>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.x"></script>
	<!-- .min cant debug -->
	<!-- <script src="https://unpkg.com/vue@3.x/dist/vue.global.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue@3.x/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
	<script>
		//myvue._instance.data.isDebug=true
		const myvue = Vue.createApp({
			setup() {
			},//setup
			computed: {
				isXs(){
					return this.$vuetify.display.name=='xs'
				},
				selectTimePattern(){
					let res = []
					try {
						for (let i = 0; i < this.timePattern.length; i++) {
							res.push({
								title:this.timePattern[i].name,
								value:i,
							})
						}
					} catch (e) {
						console.error(e)
						res = null
					}
					return res
				},//selectTimePattern

				selectTimeMode(){
					let res = []
					try {
						if (this.input.timePattern == -1 || this.timePattern.length-1 < this.input.timePattern) return
						for (let i = 0; i < this.timePattern[this.input.timePattern].mode.length; i++) {
							res.push({
								title:this.timePattern[this.input.timePattern].mode[i].name,
								value:i,
							})
						}
					} catch (e) {
						console.error(e)
						res = null
					}
					return res
				},//selectTimeMode
				//今選んでいる回復種別のMAX値index
				maxIndex(){
					let res = -1
					try {
						if (this.input.timePattern < 0 || this.timePattern.length <= this.input.timePattern) return -1
						res = this.timePattern[this.input.timePattern].mode.findIndex(x => x.name == 'MAX')
					} catch (e) {
						console.error(e)
						res = -1
					}
					return res
				},//maxIndex

				/*
				todo(){
					let res = 
					try {
					} catch (e) {
						console.error(e)
						res = null
					}
					return res
				},//
				*/
			},
			components: {
			},
			data() {
				return {
					debugCount:0,
					isDebug: false,
					loading:true,
					cl: {year:'numeric',month:'2-digit',day:'2-digit',hour:'2-digit',minute:'2-digit',second:'2-digit',fractionalSecondDigits:3},
					lm:'',
					URL:{},
					input:{
						timePattern:0,
						timeMode:null,
						calcMode:-1, // 1:回復量, 2:所要時間, 3:到達時刻, 4:残り時間, 5:今からMAX
						numBaseTime:8, // 回復基準(分)

						numTargetValue:null, // 回復量

						numRequiredTimeHour:null, // 所要時間(時)
						numRequiredTimeMin:null, // 所要時間(分)

						numTargetTimeHour:null,//到達時刻(時)
						numTargetTimeMin:null,//到達時刻(分)

						hoyoTimeDay:null,//ほよば式残り時間(日)
						hoyoTimeHour:null,//ほよば式残り時間(時)
						hoyoTimeMin:null,//ほよば式残り時間(分)

						nowMax:null,//今からMAX
					},
					goalTime:null,//計算結果到達時刻(最終リザルト)

					nowDateTime:null, // 現在時刻

					timePattern:[
						{
							name: '原神 樹脂',
							value: 8,
							mode: [
								{
									name: '秘境',
									value: 20,
								},
								{
									name: '週ボス',
									value: 30,
								},
								{
									name: 'フィールドボス',
									value: 40,
								},
								{
									name: '週ボス(4~)',
									value: 60,
								},
								{
									name: 'MAX',
									value: 200,
								},
								/* ~ver4.6
								{
									name: 'MAX',
									value: 160,
								},
								*/
							],
						},
						{
							name: 'スタレ 開拓力',
							value: 6,
							mode: [
								{
									name: '疑似花萼',
									value: 10,
								},
								{
									name: '歴戦余韻',
									value: 30,
								},
								{
									name: 'MAX',
									value: 300, // ver3.0
								},
							],
						},
						{
							name: 'ゼンゼロ バッテリー',
							value: 6,
							mode: [
								{
									name: '模擬実践',
									value: 20,
								},
								{
									name: 'エキスパート挑戦',
									value: 40,
								},
								{
									name: '定期掃討',
									value: 60,
								},
								{
									name: 'MAX',
									value: 240,
								},
							],
						},
						{
							name: 'デレステ',
							value: 5,
							mode: [
								{
									name: 'MASTER',
									value: 15,
								},
								{
									name: 'PRO',
									value: 12,
								},
							],
						},
						{
							name: 'デレステ(営業)',
							value: 15,
							mode: [
								{
									name: '10H',
									value: 40,
								},
								{
									name: '6H',
									value: 24,
								},
							],
						},
						{
							name: 'ウマ娘(育成TP)',
							value: 10,
							mode: [
								{
									name: '1回',
									value: 30,
								},
								{
									name: 'MAX',
									value: 100,
								},
							],
						},
						{
							name: 'ウマ娘(レースRP)',
							value: 120,
							mode: [
								{
									name: '1回',
									value: 1,
								},
								{
									name: 'MAX',
									value: 5,
								},
							],
						},
						{
							name: '刀剣',
							value: 1,
							mode: [
								{
									name: '遠征',
									value: 1,
								},
								{
									name: '内番',
									value: 1,
								},
							],
						},
						{
							name: 'ツイステ',
							value: 15,
							mode: [
								{
									name: 'MAX',
									value: 10,
								},
							],
						},
						{
							name: 'ツイステMS',
							value: 1,
							mode: [
								{
									name: '20min',
									value: 20,
								},
								{
									name: '60min',
									value: 60,
								},
								{
									name: '150min',
									value: 150,
								},
								{
									name: '360min',
									value: 360,
								},
							],
						},
					],//timePattern
				}
			}, // data
			mounted() {
				this.lm = document.lastModified
				const url = new URL(location.href)
				this.URL = {
					href: location.href,
					origin: url.origin,
					query: Object.fromEntries(url.searchParams),
					BASE: url.origin + '/',
				}

				// 現在時刻を表示し続ける
				this.dispNowDateTime()
				setInterval(() => this.dispNowDateTime(), 1000);

				this.loading = false
				console.log(`${new Date().toLocaleString('ja-JP',this.cl)} [mounted] end`)
			}, // mounted
			methods: {
				/** 現在時刻表示 */
				dispNowDateTime () {
					this.nowDateTime = this.FormatDate(new Date(Date.now()), '/', true, true, true)
				},

				// calcMode 1:回復量, 2:所要時間, 3:到達時刻, 4:残り時間, 5:今からMAX
				calcTime(){
					//基準現在
					const now = new Date(Date.now())
					//到達時刻
					this.goalTime = new Date(now.getTime())
					debugger

					//所要時間
					if (this.input.calcMode == 2){
						this.input.numTargetValue = Math.floor((this.input.numRequiredTimeHour * 60 + this.input.numRequiredTimeMin) / this.input.numBaseTime)
						this.goalTime.setHours(this.goalTime.getHours()+this.input.numRequiredTimeHour)
						this.goalTime.setMinutes(this.goalTime.getMinutes()+this.input.numRequiredTimeMin)
					}
					//到達時刻
					else if (this.input.calcMode == 3){
						this.goalTime = new Date(this.goalTime.getFullYear(),this.goalTime.getMonth(),this.goalTime.getDate(),this.input.numTargetTimeHour,this.input.numTargetTimeMin,this.goalTime.getMinutes())
						if (this.goalTime.getTime() < now.getTime()){
							this.goalTime.setDate(this.goalTime.getDate()+1) //日付超え
						}
						const distanceMillSec = this.goalTime.getTime() - now.getTime()
						this.input.numTargetValue = Math.floor((distanceMillSec/1000/60) / this.input.numBaseTime)
					}
					//残り時間
					else if (this.input.calcMode == 4){
						this.goalTime.setDate(this.goalTime.getDate()+this.input.hoyoTimeDay)
						this.goalTime.setHours(this.goalTime.getHours()+this.input.hoyoTimeHour)
						this.goalTime.setMinutes(this.goalTime.getMinutes()+this.input.hoyoTimeMin)
					}
					//今からMAX: MAX - 現在値
					else if (this.input.calcMode == 5){
						if (-1 < this.maxIndex) {
							this.input.numTargetValue = this.timePattern[this.input.timePattern].mode[this.maxIndex].value - this.input.nowMax
						}
					}

					//回復量→到達時刻
					if ([1,5].includes(this.input.calcMode)){
						this.goalTime.setMinutes(this.goalTime.getMinutes() + (this.input.numTargetValue * this.input.numBaseTime))
					}

					console.log(`${this.FormatDate(now,'/',true,true,true,true,true)} -> [${this.input.numTargetValue}]${this.FormatDate(this.goalTime,'/',true,true,true,true,true)}`)

				},//calcTime

				// --------------------------------------------------
				// change
				// --------------------------------------------------
				changeTimePattern(e){
					this.input.timeMode = null
					this.input.numBaseTime = this.timePattern[this.input.timePattern].value
				},//changeTimePattern
				changeTimeMode(e){
					this.input.numTargetValue = this.timePattern[this.input.timePattern].mode[this.input.timeMode].value
				},//changeTimeMode
				keypressCalc(e,index){
					if (e.which == 13) {
						console.log(`[keypressCalc] ${index}`)
						this.input.calcMode=index
						this.calcTime()
					}
				},//keypressCalc
				clickCalc(e,index){
					console.log(`[clickCalc] ${index}`)
					this.input.calcMode=index
					this.calcTime()
				},//clickCalc

				/* --------------------------------------------------
				common
				-------------------------------------------------- */
				/** 日付変換
				* Date型を受け取った場合はその値で、
				* 受け取らなかったら呼び出された時点の日時を
				* [YYYY/MM/DD(d) HH:mm:ss]形式で返却する。
				*
				* @module mixins/common/FormatDate
				* @param {Date} [d=now] 変換したい日付
				* @param {String} [f='/'] 日付の区切り文字
				* @param {Boolean} [time = false] 時刻を表示するかどうか(デフォルト非表示false)
				* @param {Boolean} [day = false] 曜日を表示するかどうか(デフォルト非表示false)
				* @param {Boolean} [sec = false] 秒を表示するかどうか(デフォルト非表示false)
				* @param {Boolean} [millsec = false] ミリ秒を表示するかどうか(デフォルト非表示false)
				* @returns {String} [YYYY/MM/DD(d) HH:mm:ss] 形式文字列
				*/
				FormatDate(d = new Date(Date.now()), f = '/', time = false, day = false, sec=false, millsec=false) {
					let param = {
						year:'numeric',
						month:'2-digit',
						day:'2-digit',
						hour12:false,
					}
					if (time) {
						param.hour='2-digit'
						param.minute='2-digit'
					}
					if (day) {
						param.weekday='short'
					}
					if (sec) {
						param.second='2-digit'
					}
					if (millsec) {
						param.fractionalSecondDigits=3
					}
					let res = d.toLocaleString('ja-JP',param)
					if (f != '/') res.split('/').join(f)
					return res
				},
				changeDebugMode () {
					this.debugCount++
					console.log(`${new Date().toLocaleString('ja-JP',this.cl)} [changeDebugMode] debugCount = ${this.debugCount}`)
					if (this.debugCount % 10 === 0) {
					this.isDebug = !this.isDebug
					}
				}, // changeDebugMode
				isFunction (f) {
					return (typeof f).toLowerCase() == 'function'
				}, // isFunction
			}, // methods
		}) // Vue.createApp
		myvue.use(Vuetify.createVuetify()).mount('#app')
	</script>

	<style>
		.v-btn {
			text-transform: none;
		}
		.aic {align-items: center;}
		.asc {align-self: center;}
	
		table.json-table {
			border-spacing: 0;
		}
	
		table.json-table tr:not(:last-of-type) td {
			border-bottom: 1px solid #ccc;
		}
	
		table.json-table td:not(:first-of-type) {
			border-left: 1px solid #ccc;
		}
	</style>

</body>
</html>